rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Helper function to check if the user is the owner
    function isOwner(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read, write: if isOwner(uid);
      
      match /mindmaps/{mapId} {
        allow read, write: if isOwner(uid);
      }
    }
  }
}
